@charset "UTF-8";
*{
    padding: 0%;
    margin: 0%;
}
:root{
    --cor0:#bf04146c;
    --cor1:#0D0D0D;
    --cor2:#A6A6A6;
    --cor3:#404040;
    
}
header{
    position: fixed;
    left: 20px;
    top: 20px;
}
menu{
    display: flex;
    justify-content: flex-end;
}
.itmenu{
    padding: 0px 10px ;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url("imagens/porsche.jpg");
    background-size: cover;
    background-position: center center;
}
h2{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 230px;
    font-size: 6em;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 97%;
    height: 97%;
    background-image: linear-gradient(to top,  rgba(0, 0, 0, 0.199),var(--cor0));
    border: 6px solid rgba(255, 255, 255, 0.336);
}
#esc-bv{
    width: 40%;
}
#par-baixa{
    display: flex;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
p{
    color: white;
}
#par-car{
    display: flex;

}
.timagens{
    margin: 10px;
}